.devise-edit
  .devise-edit__header
    %h7 Edit 
    %h8 #{resource_name.to_s.humanize}
  .devise-edit__body
    = form_with model: @user, as: resource_name, url: registration_path(resource_name), local: true, class: "registration_form" do |f|
      = render "devise/shared/error_messages", resource: resource
      %label.label email
      %br
      = f.email_field(:email, autofocus: true, class: "full-field", autocomplete: "email")
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      %br
      %br
      %label.label new password
      %i （変更がない場合は空白）
      %br
      = f.password_field(:password, class: "full-field", autocomplete: "new-password")
      - if @minimum_password_length
        %br
        %br
        %label.label new password*
        %br
        = f.password_field :password_confirmation, class: "full-field", autocomplete: "new-password"
        %br
        %br
        %label.label name
        %br
        .devise-edit__body__half
          = f.text_field(:last_name, class: "half-field", placeholder: "例）山田")
          = f.text_field(:first_name, class: "half-field", placeholder: "例）太郎")
        %br
        %br
        %label.label name kana
        %br
        .devise-edit__body__half
          = f.text_field(:last_name_kana, class: "half-field", placeholder: "例）ヤマダ")
          = f.text_field(:first_name_kana, class: "half-field", placeholder: "例）タロウ")
        %br
        %br
        %label.label phone number
        %br
        = f.text_field(:phone_number, class: "full-field", placeholder: "ハイフンなし")
        %br
        %br
        %label.label height, weight
        %br
        .devise-edit__body__half
          = f.text_field(:height, class: "half-field", placeholder: "身長 cm")
          = f.text_field(:weight, class: "half-field", placeholder: "体重 kg")
        %br
        %br
        = f.label :current_password
        %i （変更するには現在のパスワードを入力）
        %br/
        = f.password_field :current_password, class: "full-field", autocomplete: "current-password"
      .devise-edit__body__submit
        = f.submit "Update"
    .devise-edit__footer
