.record-form
= form_for @record do |f|
  - if @record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @record.errors.full_messages.each do |message|
          %li= message

  .record-form__field
    = f.label :date
    = f.date_select :date

  .record-form__actions
    = f.submit 'Save'
