.event-form
= form_with model: @event, local: true, class: "registration_form" do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .event-form__field
    .event-form__field__date
      %h1 Date
      .event-form__field__date__form
        = f.date_select(:start_date, {with_css_classes: true})
    .event-form__field__food
      %h1 Food
      = f.text_field(:food_id, class: "event_foods", id: "food-search-field", local: true, prompt: true, value: "")
      #food-search-result
    .event-form__field__result
      %h1 Ate
    .event-form__field__add.clearfix.js-event-foods
    #event-foods

  .event-form__actions
    = f.submit 'Save', class: "events_save"
