.events-show
  .events-show__message
    .events-show__message__header
      %h5.events-show__message__header__date
        = @event.start_date.strftime("%Y.%-m.%-d")
      = link_to 'delete', event_path(@event.id), class: "events-show__message__header__delete", method: :delete
      = link_to "edit", edit_event_path, class: "events-show__message__header__edit"
    .events-show__message__food
      - @sum = 0
      - @event.foods.each do |food|
        .events-show__message__food__name
        = food.name
        - @sum += food.kcal
    .events-show__message__sum
      本日は #{@sum}kcal 摂取されました。
      %br
      - @sum = 0
      - @event.foods.each do |food|
        - @sum += food.protein
      タンパク質 #{@sum}&emsp;
      - @sum = 0
      - @event.foods.each do |food|
        - @sum += food.lipid
      脂質 #{@sum}&emsp;
      - @sum = 0
      - @event.foods.each do |food|
        - @sum += food.carbo
      糖質(炭水化物) #{@sum}