.devise-session
  .devise-session__header
    %h2 Log in
  .devise-session__body
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .devise-session__body__field.label
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .devise-session__body__field.label
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .devise-session__body__login
        = f.submit "Log in"
  .devise-session__footer
    = render "devise/shared/links"
