!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nutrition
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      %nav.global-nav
        %ul.global-nav__list
          %li.global-nav__item
            = link_to "new records", new_record_path
            = link_to "logout", destroy_user_session_path, method: :delete
      #js-hamburger.hamburger
        %span.hamburger__line.hamburger__line--1
        %span.hamburger__line.hamburger__line--2
        %span.hamburger__line.hamburger__line--3
      #js-black-bg.black-bg
    = yield
